header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  background-color: $primary;

  h1 {
    margin-left: 35px;
    padding: 15px 0;
    color: $white
  }

  a {
    display: flex;
    align-items: center;
    margin-right: 35px;
    color: $white;
    background-color: $primary-light;
    height: 35px;
    width: 160px;
    border-radius: 20px;
    transition: .1s linear;
    &:hover {
      transform: scale(1.01);
      background-color: $primary-light-hover;
      transition: .1s linear;
    }
  }

  img {
    padding-right: 5px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    h1 {
      margin: 0;
    }
    a {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}