.noteitem-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 2s linear;
}

.item-input {
  margin-left: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 215px;
  height: 28px;
}

.checkbox {
  margin: 0px;
  transform: scale(2.3);
  padding: 0;
}

.item-del {
  height: 28px;
  font-family: $font-secondary;
  font-size: 23px;
  color: white;
  width: 45px;
  border-top-right-radius: 5px;
  outline: none;
  border-bottom-right-radius: 5px;
  border: 0px;
  background-color: $primary-dark;
      &:hover {
    transform: scale(1.01);
    background-color: $primary;
    transition: background-color .1s ease-out;
    }
}