$primary : #00897b;
$primary-light : #4ebaaa;
$primary-dark : #005b4f;
$highlight: #c8f1ef;
$card-bg: #eefffd;

$white: #fcfcfc;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;